<ng-template #sentinelListElementTemplate let-element>
    <span>{{ element.title }}</span>
</ng-template>

<div class="mat-typography">
    <div class="sandbox-select-container">
        <h1 mat-dialog-title>Select Sandbox Definition</h1>
        <mat-divider/>
        <div mat-dialog-content>
            <h3>
                Sandbox Definitions
            </h3>
            <sentinel-list noDataMessage="No sandbox definitions"
                           mode="radio"
                           [identity]="sandboxDefinitionIdentity"
                           [resource]="definitions$ | async"
                           [hasError]="hasError$ | async"
                           [isLoading]="isLoading$ | async"
                           [selected]="selected"
                           [pageSize]="PAGE_SIZE"
                           (fetch)="fetch($event)"
                           (selectionChange)="onSelectionChange($event)">
                <ng-container [sentinelListElement]="sentinelListElementTemplate"/>
            </sentinel-list>
        </div>
        <div mat-dialog-actions>
            <button (click)="cancel()"
                    mat-button color="warn">Cancel
            </button>
            <span class="spacer"></span>
            <button (click)="confirm()"
                    [disabled]="!selected"
                    mat-button color="primary">Select
            </button>
        </div>
    </div>
</div>
