<p>Status: {{ status }}</p>
<p>Reason: {{ statusReason }}</p>

<h3>{{ stageDetail?.additionalInfo[0]?.resourceName }}</h3>
<sentinel-code-viewer *ngIf="hasResources else noResources"
  maxHeight="600"
  viewPortItemHeight="20"
  [resource]="resources"
  [pageSize]="resourcesPageSize"
  [isLoading]="isLoading"
  (fetch)="onFetch($event, 0)">>
</sentinel-code-viewer>

<h3>{{ stageDetail?.additionalInfo[1]?.resourceName }}</h3>
<sentinel-code-viewer *ngIf="hasEvents else noEvents"
  maxHeight="600"
  viewPortItemHeight="20"
  [resource]="events"
  [pageSize]="eventsPageSize"
  [isLoading]="isLoading"
  (fetch)="onFetch($event, 1)">>
</sentinel-code-viewer>

<ng-template #noResources>
  <p>This stage has no resources<p>
</ng-template>

<ng-template #noEvents>
  <p>This stage has no events<p>
</ng-template>
