<p>Status: {{ stage?.status }}</p>
<p>Reason: {{ stage?.statusReason }}</p>

<h3>Events:</h3>
<sentinel-code-viewer *ngIf="hasEvents$ | async else noEvents"
                      maxHeight="600"
                      viewPortItemHeight="20"
                      [resource]="events$ | async"
                      [pageSize]="500"
                      [isLoading]="eventsIsLoading$ | async"
                      (fetch)="onFetchEvents($event)">
</sentinel-code-viewer>

<h3>Resources:</h3>
<sentinel-code-viewer *ngIf="(hasResources$ | async) else noResources"
                      maxHeight="600"
                      viewPortItemHeight="20"
                      [resource]="resources$ | async"
                      [pageSize]="500"
                      [isLoading]="resourcesIsLoading$ | async"
                      (fetch)="onFetchResources($event)">
</sentinel-code-viewer>

<ng-template #noResources>
  Stage has no resources
</ng-template>

<ng-template #noEvents>
  Stage has no events
</ng-template>
