<mat-card appearance="outlined">
    <h3>Sandbox Instances</h3>
    <sentinel-controls [controls]="controls" (itemClicked)="onControlsAction($event)"/>
    <sentinel-table [data]="instances$ | async"
                    [hasError]="instancesTableHasError$ | async"
                    [titlecasedActions]=false
                    [displayedActionsCount]="4"
                    [defaultSortDirection]="DEFAULT_SORT_DIRECTION"
                    [defaultSortName]="DEFAULT_SORT_COLUMN"
                    elevation="0"
                    (rowAction)="onTableAction($event)"
                    (tableLoad)="onLoadEvent($event)">
        <ng-container *sentinelRow="'stages'; template: stagesTemplate"/>
        <ng-container *sentinelRow="'comment'; template: comment"/>
    </sentinel-table>
</mat-card>

<ng-template #stagesTemplate let-row>
    <crczp-stage-overview [stages]="row.element.stages"
                         [unitId]="row.element.unitId"
                         (stageSelected)="onStageAction($event)"/>
</ng-template>

<ng-template #comment let-row>
    <crczp-editable-comment
        [value]="row.element.comment"
        (commentChanged)="updateInstanceComment(row.element,$event)"/>
</ng-template>
