<mat-card appearance="outlined">
    <mat-card-header>
        <img mat-card-avatar [src]="stage?.logoSrc">
        <mat-card-title>{{ stage?.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <crczp-request-stage-header [stage]="stage"/>
        <mat-expansion-panel *ngIf="stage?.hasDetail"
                             class="mat-elevation-z1"
                             (opened)="onPanelStateChange(true)"
                             (closed)="onPanelStateChange(false)"
                             [expanded]="stage.isExpanded"
                             [disabled]="stage?.detailDisabled">
            <mat-expansion-panel-header>
                <mat-panel-title>Stage detail</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <crczp-request-stage-detail [stage]="stage">
                </crczp-request-stage-detail>
            </ng-template>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
