<div class="block-content" *ngIf="data" style="width: 85vw">
    <mat-grid-list cols="2" [rowHeight]="detailHeight" class="pool-expand-grid">
        <mat-grid-tile>
            <p><b>Build progression notifications: </b>{{ data.notifyBuild }}</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="resource-heading"><b>Resources utilization: </b></p>
            <div class="resource-content" *ngIf="data.usedSize > 0">
                <ng-container *ngFor="let resource of displayedResources; let  i = index">
                    <div *ngIf="data.resources?.quotas[resource]">
                        <span>{{ data.resources.quotas[resource].name }}
                            ({{ data[resource + 'Utilization'].toFixed(1) }}%):</span>
                        <crczp-resource-bar
                            [quota]="data.resources?.quotas[resource]"
                            [poolUsage]="data[resource +'Utilization']"
                            [color]="resourceColors[i]">
                        </crczp-resource-bar>
                    </div>
                </ng-container>
            </div>
            <p *ngIf="data.usedSize === 0 || data.resources === undefined"> No data to display</p>
        </mat-grid-tile>
    </mat-grid-list>
</div>
