h1 {
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 20px 0;
}

mat-card {
  padding: 16px;
}

::ng-deep .form-content .mat-grid-tile-content {
  align-items: normal;
  justify-content: normal;
  display: block;
}

.pool-edit-grid .mat-grid-tile {
  overflow: visible;
}

.pool-edit-grid .mat-mdc-form-field {
  display: block;
  margin-right: 20px;
  padding-bottom: 20px;
}

.constrained-textarea {
  padding-top: 10px;
  max-height: 70%;
  box-sizing: border-box;
  overflow: auto;
}

.constrained-textarea textarea {

  resize: vertical;
  max-height: 150px;
  box-sizing: border-box;
}
