<mat-card>
  <h3>Sandbox Instances</h3>
  <sentinel-controls [controls]="controls" (itemClicked)="onControlsAction($event)"></sentinel-controls>
  <sentinel-table [data]="instances$ | async"
                  [hasError]="instancesTableHasError$ | async"
                  [titlecasedActions]=false
                  elevation="0"
                  (rowAction)="onTableAction($event)"
                  (refresh)="onLoadEvent($event)">
                  <ng-container *sentinelRow="'stages'; template: stagesTemplate"></ng-container>
  </sentinel-table>
</mat-card>

<ng-template #stagesTemplate let-row>
  <kypo-stage-overview [stages]="row.element.stages"></kypo-stage-overview>
</ng-template>
