<div
    class="comment-container"
    (mouseenter)='toggleEditButton(true)'
    (mouseleave)="toggleEditButton(false)"
>
    <!-- COMMENT -->
    <form [formGroup]="commentFormGroup.formGroup"
          class="wh-100 horizontal-flex jc-fs ai-c {{!editionEnabled ? 'readonly edit-comment-container' : 'edit-comment-container'}}">
        <mat-form-field
            subscriptSizing="dynamic"
            (click)="toggleEdition(true)"
        >
            <input matInput
                   matTooltip="{{ value }}"
                   type="text"
                   formControlName="comment"
                   [readonly]="!editionEnabled">
        </mat-form-field>
        <!-- EDIT COMMENT button -->
        <button mat-fab
                color="primary"
                class="comment-save-button"
                (click)="editionEnabled ? saveComment() : toggleEdition(true)"
                aria-label="Edit comment"
                [style]="'opacity: ' + (editOpacity || editionEnabled ? 100 : 0)"
                [matTooltip]="editionEnabled ? 'Save edited comment' : 'Edit comment'">
            <mat-icon>{{ editionEnabled ? 'check' : 'edit' }}</mat-icon>
        </button>
    </form>
</div>
