<sentinel-controls [controls]="controls" (itemClicked)="onControls($event)"></sentinel-controls>
<sentinel-table
  [data]="pools$ | async"
  [hasError]="hasError$ | async"
  [titlecasedActions]=false
  [displayedActionsCount]="6"
  (rowAction)="onPoolAction($event)"
  (tableLoad)="onLoadEvent($event)"
  (refresh)="onLoadEvent($event)">
  <ng-container *sentinelRow="'comment'; template: accessToken"></ng-container>
</sentinel-table>

<ng-template #accessToken let-row>
  <div class="access-token-container" matTooltip="{{ row.element.comment }}">
     {{ trimComment(row.element, 10) }}
  </div>
</ng-template>
